.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; 
    background-color: #f4f4f4;
}

.form-elements {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.login-div-tags label {
    display:flex;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
    text-align: left;
}

.login-div-tags input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.login-div-tags p {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
    margin-right: 250px;
}
/***************************/   
.sign-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; 
    background-color: #f4f4f4;
}

.sign-div-tags label {
    display:block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
    text-align: left;
}

.sign-div-tags input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.sign-div-tags p {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 1px; 
    margin-bottom: 1px; 
}

.recipes-container{
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
    justify-content: left;
    padding: 10px;
    
}

.sidebyside{
    margin-left: 210px;
    margin-top:-450px ;
}

.recipe-detail{
    width: 500px;
    height: 450px;
    border-radius: 15px;
    
}


.recipe-card {
    width: 230px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.cookTime {
    position: absolute;
    top: 60px;
    left: 220px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.fav-button{
    cursor: pointer;
    font-size:xx-large;
    font-weight:900;
    position: absolute;
    top: 470px;
    left: 670px;
    color:white;
}


.flex-category{
    display:flex;
    flex-direction:row;
    justify-content:left;
    align-items:left;
}

